.aboutHost {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.picOfHost img{
  border-radius: 50%;
  width: 250px;
  height: 250px;
  border: 2px solid black;
}

a:link {
    color: #ff9a9a;
     text-decoration: none;
}

a:visited {
    color: #ffcd9a;
     text-decoration: none;
}

a:hover {
    color: #ff9acd;
     text-decoration: none;
}

a:active {
    color: #9affff;
     text-decoration: none;
}
