.mapsText {
background-color: blue;
color: white;
display: flex;
flex-flow: row;
justify-content: space-around;
}

.mapsText p {
  font-size: 20px;
}

.googleMap {
border: 10px solid white;
border-radius: 5px;
}
