.mapsText {
background-color: blue;
color: white;
display: flex;
flex-flow: row;
justify-content: space-around;
padding: 10px;
}

.mapsText p {
  font-size: 15px;
}

.googleMap {
border: 10px solid white;
border-radius: 5px;
}

.mapContent {
  width: 40%;
}
