h1 {
  font-size: 20vw;
}

.heroImage {
  width: 100%;
  height: auto;
  position: relative;
  text-align: center;
  color: white;
}

.heroTextSmall {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rsvpButton {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contentWrap {
display: block;
}

.heroTextBig {
  z-index: +7;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

.heroTextBig:hover {
  z-index: +7;
  animation: textanimation 1s ease infinite;
  cursor: crosshair;
}

@keyframes textanimation {
  25% {
    color: #16F4D0;
    background-position: 0% 50%;
  }
  50% {
    color: #FF8A5B;
    background-position: 100% 50%;
  }
  60% {
    color: orange;
  }
  100% {
    color: #16F4D0;
    background-position: 0% 50%;
  }
}

.rsvpButton {
  z-index: +7;
  background-color: transparent;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 1px solid black;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

video {
  width: 100%;
  height: auto;
}
